* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-image: url('./background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.col-1 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 8.33%;
}

.col-2 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 16.66%;
}

.col-3 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 25%;
}
.navbar {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-list {
    list-style: none;
    display: flex;

li {
    margin-right: 20px;

    a {
        text-decoration: none;
        color: #bac2be;
        font-weight: 600;
        transition: color 0.3s ease;
        &:hover {
            color: #e28408;
            }
        }
    }
}
.icon {
    color: white;
    font-size: 2rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
.border {
    background-color: #383b3a;
    border-radius: 5px;
    padding: 0.3rem;
}
.justify-content-end {
    display: flex;
    justify-content: end;
    align-items: center;
}